@header_background_color: #333;
@header_text_color: #FDFDFD;
@alternate_row_background_color: #DDD;

@table_width: 750px;
@table_body_height: 300px;
@column_one_width: 200px;
@column_two_width: 200px;
@column_three_width: 350px;

.fixed_headers {
  width: @table_width;
  table-layout: fixed;
  border-collapse: collapse;
  
  th { text-decoration: underline; }
  th, td {
    padding: 5px;
    text-align: left;
  }
  
  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }

  thead {
    background-color: @header_background_color;
    color: @header_text_color;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: @table_body_height;
    tr:nth-child(even) {
      background-color: @alternate_row_background_color;
    }
  }
}

.old_ie_wrapper {
  height: @table_body_height;
  width: @table_width;
  overflow-x: hidden;
  overflow-y: auto;
  tbody { height: auto; }
}

#my_table_left {
	border-collapse: collapse; 
	width: 100%; 
	border: 1px solid #ddd;
	font-size: 18px; 
}

#my_table_left th, #my_table_left td {
	text-align: left;
	padding: 12px;
}

#my_table_left tr {
	/* 表格添加边框 */
	border-bottom: 1px solid #ddd; 
}

#my_table_left tr.header, #my_table_left tr:hover {
	/* 表头及鼠标移动过 tr 时添加背景 */
	background-color: #f1f1f1;
}

#my_table_center {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
  font-size: 12px; 
}
#my_table_center tr th,
#my_table_center tr td {
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px;
  width: 50%;
}
#my_table_center tr th:first-child,
#my_table_center tr td:first-child {
  border-left: 1px solid #bbb;
}
#my_table_center tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}


#my_table_right {
  min-width: 100%;
	border-collapse: collapse; 
	width: 100%; 
	border: 1px solid #ddd;
	font-size: 12px; 
}
#my_table_right tr th,
#my_table_right tr td {
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px;
  width: 50%;
}
#my_table_right tr th:first-child,
#my_table_right tr td:first-child {
  border-left: 1px solid #bbb;
}
#my_table_right tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

table_1 {
  width: 300px;
  margin: 20px auto;
  background: #fafafa;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#table_1 thead {
  border: 1px solid #222;
  border-right: 0;
  background: #333;
}

#table_1 thead tr th {
  color: #fff;
  padding: 10px;
  border-right: 1px solid #222;
}

#table_1 tbody {
  border-left: 1px solid #ccc;
}

#table_1 tbody tr {
  border-bottom: 1px solid #ccc;
}

#table_1 tbody tr td {
  padding: 10px;
  border-right: 1px solid #ccc;
}